{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="vh-100 d-flex justify-content-center align-items-center bg-dark">

		<a href="/register" class="btn btn-primary py-3 px-5 rounded-5">Click the button to enter to dashboard</a>
	</div>
</body>{% endblock %}
