{% extends 'base.html.twig' %}
{% block title %}Self-Management - Daily Expenses
{% endblock %}
{% block breadcrumbActive %}Daily Expenses
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="d-sm-flex justify-content-between align-items-center mb-3">
				<h5>Set budget for current month
					<span class="opacity-50">(December)</span>
				</h5>
				<div>
					<a class="btn btn-dark border-light fw-bold px-4">Set budget</a>
				</div>
			</div>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body">
			<div class="d-sm-flex justify-content-between align-items-center mb-3">
				<h5>Add new expense for current budget</h5>
				<div>
					<a class="btn btn-dark border-light fw-bold px-4">Add expense</a>
				</div>
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="col-2">#</th>
						<th class="col-4">Name</th>
						<th class="col-2">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
