{% extends 'base.html.twig' %}
{% block title %}Self-Management - Daily Expenses
{% endblock %}
{% block breadcrumbActive %}Daily Expenses
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="d-sm-flex justify-content-between align-items-center mb-3">
				<h5>Set budget for current month
					<span class="opacity-50">({{ "now"|date("F") }})</span>
				</h5>
				<div>
					<a href="{{ path('app_daily_expenses_budget') }}" class="btn btn-dark border-light fw-bold px-4">Set budget</a>
				</div>
			</div>

			<div class="d-flex flex-wrap justify-content-evenly justify-content-md-start">
				<div class="card text-white text-bg-success mb-3">
					<h5 class="card-header text-center">Budget amount</h5>
					<div class="card-body">
						<h4 class="card-text fw-bold">1000$</h4>
					</div>
				</div>
				<div class="card text-white text-bg-success mb-3">
					<h5 class="card-header text-center">Vol. percentage plus</h5>
					<div class="card-body">
						<h4 class="card-tex fw-boldt">+90%</h4>
					</div>
				</div>
				<div class="card text-white text-bg-danger mb-3">
					<h5 class="card-header text-center">Expenses amount</h5>
					<div class="card-body">
						<h4 class="card-text fw-bold">-100$</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body">
			<div class="d-sm-flex justify-content-between align-items-center mb-3">
				<h5>Add new expense for current budget</h5>
				<div>
					<a class="btn btn-dark border-light fw-bold px-4">Add expense</a>
				</div>
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="col-2">#</th>
						<th class="col-4">Name</th>
						<th class="col-2">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
