.main-dashboard-wrapper {
    @media (min-width: 992px) {
        margin-left: 16rem;
    }
}
.link-breadcrumb-item {
    color: inherit;
    text-decoration: none;
}
.filter-tasks-input {
    max-width: 150px;
}
.task-done-icon {
    opacity: 0.5;
}
.btn-remove-note {
    max-height: 54px;
    opacity: 0.5;
    font-weight: bold;
}
#meetingModal,
#meetingChosenModal {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#closeMeetingsModal,
#closeChosenMeetingsModal {
    position: absolute;
    top: 0;
    right: 0;
}
.modal-content {
    position: relative;
    max-width: 600px;
}
.modal-chosen-meeting-content {
    max-width: 400px;
}
