.main-dashboard-wrapper {
    @media (min-width: 992px) {
        margin-left: 16rem;
    }
}
.link-breadcrumb-item {
    color: inherit;
    text-decoration: none;
}
.filter-tasks-input {
    max-width: 150px;
}
.task-done-icon {
    opacity: 0.5;
}